.thumbnail.active {
  border-color: #286090;
  border-width: medium;
}

.thumbnail {
  max-height: 220px;
  border-width: medium;
}

.thumbnail > img {
  max-height: 180px;
}

.thumbnail .caption {
  font-size: x-small;
  text-align: center;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: #ccc;
}

#sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 3px solid #eee;
  background-color: #f4f4f4;
}

.sidebar-item>a { 
  color: #777;
}
.sidebar-item:hover>a, .sidebar-item.active>a {
  color: #337ab7;	
}

.mce-tinymce.mce-container.mce-panel { 
  margin: auto;
  max-width: 500px;
}